<ion-header>
  <ion-toolbar>

        <ion-title>{{selectedProduct.productName}}</ion-title>
        <ion-buttons slot="start">
          <ion-back-button color="primary"></ion-back-button>
        </ion-buttons>
     
    <!-- <ion-buttons slot="start">
      <ion-button color="primary" class="backbtn" routerLink="/home" routerDirection="back">
        <img src="../../assets/back-dark.svg" />
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search-outline" color="dark"></ion-icon>
      </ion-button>
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
        <span>&nbsp;</span>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" class="product-slider">
    <ion-slide *ngFor="let image of selectedProduct.images">
      <ion-img src="{{imageResourcePath}}{{ image?.imagePath }}" ></ion-img>
    </ion-slide>
   
  </ion-slides>

  <div class="ion-padding-vertical">
    <h1 class="item-name">{{selectedProduct.productName}}</h1>

    <h4 class="price">
     {{selectedProduct.price |currency:'INR':'symbol-narrow':'1.0-0'}}
      <!-- <span class="real-price">$62</span> -->
    </h4>
  </div>

  <div class="seperator">
    <hr>
  </div>

  <div class="review">
    <ion-row>
      <ion-col size="6">
        <div class="rating">
          4.5
        </div>
        Ratings
      </ion-col>
      <ion-col size="6">
        <div class="count">49 Reviews</div>
      </ion-col>
    </ion-row>
  </div>

  <div class="seperator">
    <hr>
  </div>

  <div class="description">
    <h5>Description</h5>

    <p>
    {{selectedProduct.productDescription}}
    </p>

  </div>

  <div class="seperator">
    <hr>
  </div>

  <div class="variation">
    <ion-segment (ionChange)="segmentChanged($event)" value="size">
      <ion-segment-button value="size">
        <ion-label>Select Size</ion-label>
      </ion-segment-button>
      <ion-segment-button value="color">
        <ion-label>Select Color</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div class="seperator">
    <hr>
  </div>

  <div class="variation-selector">
    <div class="sizes" [class.active-variation]="activeVariation == 'size'">
      <div [class.active]="selectedSize == 1" (click)="changeSize(1)">
        S
      </div>
      <div [class.active]="selectedSize == 2" (click)="changeSize(2)">
        M
      </div>
      <div [class.active]="selectedSize == 3" (click)="changeSize(3)">
        L
      </div>
      <div [class.active]="selectedSize == 4" (click)="changeSize(4)">
        XL
      </div>
    </div>

    <div class="colors" [class.active-variation]="activeVariation == 'color'">
      <div [class.active]="selectedColor == 1" (click)="changeColor(1)">
        BLACK
      </div>
      <div [class.active]="selectedColor == 2" (click)="changeColor(2)">
        GREEN
      </div>
      <div [class.active]="selectedColor == 3" (click)="changeColor(3)">
        BLUE
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col size="6">
      <ion-button expand="full" color="light">Add to Wishlist</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="full">Contact Seller</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>